#DIV {
      background-color: lightblue ;
      width: 100%;
      position: relative;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

#DISC {
	font: arial;
	font-size: 10;
	font-style:oblique;
}
table, th, td {
	border: 1px solid lightgray; 
	text-align:center ;
	overflow: auto;
	height: auto;
	}
